<fieldset>
<li>  <%= f.check_box   :hot_tub, {}, "true", "false" %>
  <%= f.label       :hot_tub, " Hot Tub " %>
</li><!-- -->
  <li><%= f.check_box   :washer, {}, "true", "false" %>
    <%= f.label       :washer, "  Washer  " %></li>
<!-- -->
  <li><%= f.check_box   :pool, {}, "true", "false" %>
    <%= f.label       :pool, " Pool  " %></li>
<!-- -->
  <li><%= f.check_box   :dryer, {}, "true", "false" %>
    <%= f.label       :dryer, " Dryer " %></li>
<!-- -->
  <li><%= f.check_box   :breakfast, {}, "true", "false" %>
    <%= f.label       :breakfast, " Breakfast " %></li>
<!-- -->
  <li><%= f.check_box   :free_parking_on_premisis, {}, "true", "false" %>
    <%= f.label       :free_parking_on_premisis, "Free Parking On Premisis" %></li>
<!-- -->
  <li><%= f.check_box   :gym, {}, "true", "false" %>
    <%= f.label       :gym %></li>
<!-- -->
  <li><%= f.check_box   :elevator_in_building, {}, "true", "false" %>
    <%= f.label       :elevator_in_building, " Elevator In Building " %></li>
<!-- -->
  <li><%= f.check_box   :indoor_fireplace, {}, "true", "false" %>
    <%= f.label       :indoor_fireplace, "Indoor Fireplace " %></li>
<!-- -->
  <li><%= f.check_box   :buzzer_wireless_intercom, {}, "true", "false" %>
    <%= f.label       :buzzer_wireless_intercom, "Buzzer/Wireless Intercom " %></li>
<!-- -->
  <li><%= f.check_box   :doorman, {}, "true", "false" %>
    <%= f.label       :doorman %></li>
<!-- -->
  <li><%= f.check_box   :shampoo, {}, "true", "false" %>
    <%= f.label       :shampoo %></li>
  
</fieldset>
