<fieldset>
<li>  <%= f.check_box   :essentials, {}, "true", "false" %>
  <%= f.label       :essentials, " Essentials: Towels, bed sheets, soap, and toilet paper " %>
</li><!-- -->
  <li><%= f.check_box   :tv, {}, "true", "false" %>
    <%= f.label       :tv, " TV " %></li>
<!-- -->
  <li><%= f.check_box   :cable_tv, {}, "true", "false" %>
    <%= f.label       :cable_tv, " Cable TV " %></li>
<!-- -->
  <li><%= f.check_box   :air_condition, {}, "true", "false" %>
    <%= f.label       :air_condition, " Air Conditioning " %></li>
<!-- -->
  <li><%= f.check_box   :heating, {}, "true", "false" %>
    <%= f.label       :heating, " Central heating or a heater in the listing " %></li>
<!-- -->
  <li><%= f.check_box   :kitchen, {}, "true", "false" %>
    <%= f.label       :kitchen %></li>
<!-- -->
  <li><%= f.check_box   :internet, {}, "true", "false" %>
    <%= f.label       :internet, " Internet " %></li>
<!-- -->
  <li><%= f.check_box   :wireless_internet, {}, "true", "false" %>
    <%= f.label       :wireless_internet, " Wireless Internet " %></li>
  
</fieldset>
