<fieldset>
<li>  <%= f.check_box   :family_kid_friendly, {}, "true", "false" %>
  <%= f.label       :family_kid_friendly, " Family Kid Friendly " %>
</li><!-- -->
  <li><%= f.check_box   :smoking_allowed, {}, "true", "false" %>
    <%= f.label       :smoking_allowed, "Smoking Allowed   " %></li>
<!-- -->
  <li><%= f.check_box   :suitable_for_events, {}, "true", "false" %>
    <%= f.label       :suitable_for_events, " Suitable For Events  " %></li>
<!-- -->
  <li><%= f.check_box   :pets_allowed, {}, "true", "false" %>
    <%= f.label       :pets_allowed, "Pets Allowed  " %></li>
<!-- -->
  <li><%= f.check_box   :wheelchair_accessible, {}, "true", "false" %>
    <%= f.label       :wheelchair_accessible, "Wheelchair Accessible  " %></li>

</fieldset>
