<h1>MangageListing#amenities</h1>
<p>Space Title: <%= @space.title %></p>

<!-- -->
<hr />
<%= render layout: 'form' do |f| %>
    <%= f.fields_for :amenity_group do |builder| %>

  <div class="amenities-common" id="js-amenities-common">
        <ul class="js-amenities-list
                 list-unstyled
                 ">
                   <%= render "most_common_amenities_fields", f: builder %> 
        </ul>
      
</div>

<hr class="section-divider">

  <div class="amenities-extras" id="js-amenities-extras">
        <ul class="js-amenities-list
                 list-unstyled
                 ">
                   <%= render "extra_amenities_fields", f: builder %> 

        </ul>
      
</div>

<hr class="section-divider">

  <div class="amenities-special" id="js-amenities-special">
        <ul class="js-amenities-list
                 list-unstyled
                 ">
                   <%= render "special_features_fields", f: builder %> 
        </ul>
      
</div>  
<hr class="section-divider">

    <div class="amenities-home_safety" id="js-amenities-home_safety">
        <ul class="js-amenities-list
                 list-unstyled
                 ">
                   <%= render "home_safety_fields", f: builder %> 
        </ul>
      
</div>  
    <% end %>

<% end %>

