<%= render layout: "manage_listing" do %>

    <h1>When is your listing available?</h1>

    <%= render layout: 'form' do |f| %>
    <ul class="list-unstyled row">
        <li>
            <%= f.radio_button(:calendar_frequency, "always") %>
            <%= f.label(:calendar_frequency_always, "Always - List all dates available") %><br />
        </li>
        <li>
            <%= f.radio_button(:calendar_frequency, "sometimes") %>
            <%= f.label(:calendar_frequency_sometimes, "Sometimes - List some dates available") %><br />
        </li>
        <li>
            <%= f.radio_button(:calendar_frequency, "onetime") %>
            <%= f.label(:calendar_frequency_onetime, "One Time - List only one time available") %>
        </li>
    </ul>
    <% end %>

<% end %>
