<h1>MangageListing#listing</h1>
<div class="manage-listing-content" id="js-manage-listing-content"><div>

<div class="row js-section post-listed">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
    <h3>House Manual</h3>

    
    
    <p class="text-muted">
      Instructions for guests once they've arrived at your listing. Only shared after a reservation is confirmed.
    </p>
    

    
    
  </div>

  <div class="col-8">
    
    
  <!-- HTML for house manual subsection -->
  <div class="row-space-2">
    <label class="label-large">House Manual</label>
    <textarea class="input-large textarea-resize-vertical" name="house_manual" rows="6" placeholder="Information for your guest once on the property (e.g. wireless password, entertainment equipment, air-conditioning, heating)."></textarea>
  </div>

  </div>
</div>



<hr class="section-divider post-listed">



<div class="row js-section">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
<%= render layout: 'form' do |f| %>
  <!-- HTML for rooms and beds subsection -->
  <div class="row row-space-2">
    <div class="col-6">
        
      <label class="label-large">Bedrooms</label>
      <div id="bedrooms-select"><div class="select
            select-large
            select-block">
            <%= f.select(:bedrooms, @listing.rooms_n_beds[:bedrooms]) %>
</div>
</div>
    </div>
  </div>
  <div class="row row-space-2">
    <div class="col-6">
      <%= f.label :beds %>
      
      <div id="beds-select"><div class="select
            select-large
            select-block">
            <%= f.select(:beds, @listing.rooms_n_beds[:bedrooms]) %>
</div>
</div>
    </div>

      <div class="col-6">
        <label class="label-large">Bed Type</label>
        <div id="bedtype-select"><div class="select
            select-large
            select-block">
            <%= f.select(:bed_style, @listing.rooms_n_beds[:bed_style]) %>
</div>
</div>
      </div>
    
  </div>
  <div class="row row-space-2">
    <div class="col-6">
      <label class="label-large">Bathrooms</label>
      <div id="bathrooms-select"><div class="select
            select-large
            select-block">
            <%= f.select(:bathrooms, @listing.rooms_n_beds[:bathrooms]) %>
            
</div>
</div>
    </div>
  </div>

  </div>
</div>



<hr class="section-divider">



<div class="row js-section">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
    <h3>Listing Info</h3>

    
    
    <p class="text-muted">
      Basic information about your listing.
    </p>
    

    
    
  </div>
  
    <div class="col-8">
    
    
    <!-- HTML for listing info subsection -->
    <div class="row-space-2">
      <label class="label-large">Home Type</label>
      <div id="property-type-select"><div class="select
              select-large
              select-block">
    <%= f.select(:home_style, @listing.listing_info[:home_styles]) %>
  </div>
  </div>
    </div>
    <div class="row-space-2">
      <label class="label-large">Room Type</label>
      <div id="room-type-select"><div class="select
              select-large
              select-block">
              <%= f.select(:room_style, @listing.listing_info[:room_styles]) %>
    </select>
  </div>
  </div>
    </div>
    <div class="row-space-2">
      <label class="label-large">Accommodates</label>
      <div id="person-capacity-select"><div class="select
              select-large
              select-block">
              <%= f.select(:person_capacity, @listing.listing_info[:guest_capacity])  %>
  
<% end %>
<!-- -->
</div>
</div>
  </div>

  </div>
</div>







<hr class="section-divider">

<p class="text-center text-muted">
  If you wish, you can permanently <a href="#" id="js-delete-listing-link" data-track="toggle_delete">deactivate this listing</a>.
</p>

<div id="delete-listing-container"></div>
</div></div>