<%= render layout: "manage_listing" do %>
<div>
    <%= form_for @space, url: wizard_path do |f| %>
      <% if @space.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>
          <ul>
          <% @space.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

<div class="row js-section">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
    <h3>Overview</h3>

    
    
    <p class="text-muted">
      A title and summary displayed on your public listing page.
    </p>
    

    
    
  </div>

  <div class="col-8">
    
    
<div class="row-space-2" id="tooltip-help-name">
  <label class="label-large">Title</label>
  <%= f.text_field :title, maxlength: "35", class:"overview-title input-large", placeholder: "Write a title" %>
  
  <p class="hide icon-rausch error-too-long row-space-top-1">Please shorten to save changes</p>

  <p class="hide icon-rausch error-value-required row-space-top-1">A value is required to save changes</p>


  <div id="js-name-count" class="row-space-top-1 h6 text-right">
    <span class="ml-error">2</span> characters left
  </div>
</div>
<div id="tooltip-help-summary">
  <label class="label-large">Summary</label>
  <%# f.text_area :summary,  maxlength: "250", class: "overview-summary input-large", name: "summary", rows: "6", placeholder: "Write a summary in 250 characters or less" %>
  <%= f.text_area :summary, maxlength: "250", class: "overview-summary input-large", rows: "6", placeholder: "Write a summary in 250 characters or less" %>
  
  
  
  <p class="hide icon-rausch error-too-long row-space-top-1">Please shorten to save changes</p>

  <p class="hide icon-rausch error-value-required row-space-top-1">A value is required to save changes</p>

  <div id="js-summary-count" class="row-space-top-1 h6 text-right">
    <span>24</span> characters left
  </div>
</div>




  </div>
</div>



<div style="display: none; top: 48.5167px; left: 650px; opacity: 1;" class="tooltip help-tooltip" data-trigger="#tooltip-help-name" data-event="none">
  <div class="media">
    <i class="pull-left icon icon-light-bulb icon-beach icon-size-2"></i>
    <div class="media-body text-lead text-muted help-tooltip-body">
      
  <strong>A great title</strong>
  <p>
    A great title is unique and descriptive!  It should highlight the main attractions of your space.
  </p>
  <p>
    <strong>Examples:</strong>
  </p>
  <ul>
    <li>Charming Victorian in the Mission.</li>
    <li>Cozy 2BD with Parking Included</li>
    <li>Amazing View from a Modern Loft</li>
  </ul>

    </div>
  </div>
</div>


<div style="display: block; top: 162.167px; left: 650px; opacity: 1;" class="tooltip help-tooltip" data-trigger="#tooltip-help-summary" data-event="none">
  <div class="media">
    <i class="pull-left icon icon-light-bulb icon-beach icon-size-2"></i>
    <div class="media-body text-lead text-muted help-tooltip-body">
      
  <strong>A great summary</strong>
  <p>A great summary is rich and exciting! It should cover the major features of your space and neighborhood in 250 characters or less.</p>
  <p>
    <strong>Example: </strong>Our cool and comfortable one bedroom apartment with exposed brick has a true city feeling! It comfortably fits two and is centrally located on a quiet street, just two blocks from Washington Park. Enjoy a gourmet kitchen, roof access, and easy access to all major subway lines!
  </p>

    </div>
  </div>
</div>


      <div class="actions">
        <%= f.submit "Continue" %>
        or <%= link_to "skip this step", next_wizard_path %>
      </div>
    <% end %>
</div>

<% end %>