<link rel="stylesheet" media="all" href="/assets/photos-10e3f5b6bf98ce062b7e6b0e80ce3e0f.css?body=1" data-turbolinks-track="true" />
<%= stylesheet_link_tag :photo, :cache => true %>
<%= render layout: "manage_listing" do %>
<hr />
<div class="clear"></div>

<h1 id="photo_gallery">Photo Gallery</h1>
<%= form_for @space.photos.new do |f| %>
  <%= f.label :image, "Upload photos:" %>
  <%= f.hidden_field :space_id %>
  <%= f.file_field :image, multiple: true, name: "photo[image]" %>
  
  <%= link_to "skip this step", next_wizard_path %>
  
<% end %>


<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.title%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

<div class="clear"></div>
<div id="photos">
        <% if @photos.count > 0 %>
            <%= render :partial => "shared/photo", :collection => @photos %>
        <% else %>
            <%= render "no_photos" %>
        <% end %>
</div>
<div class="clear"></div>
<hr />
    <% end %>
