<%= render layout: "manage_listing" do %>
<div>
    <%= form_for @space, url: wizard_path do |f| %>
      <% if @space.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>
          <ul>
          <% @space.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

<div class="row js-section js-tooltip-trigger" id="js-standard-price">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
    <h3>Base Price</h3>

    
    
    <p class="text-muted">
      Set the default nightly price guests will see for your listing.
    </p>
    

    
    
  </div>

  <div class="col-8">
    
    
<label class="label-large" for="listing_price_native">Per night</label>
<div class="row row-table row-space-1">
  <div class="col-4 col-middle">
    <div class="input-addon">
      <span class="input-prefix">$</span>
      <%= f.text_field :listing_nightly_price %>
    </div>
  </div>
</div>

<p class="ml-error" data-error="price"></p>


  <p class="text-muted">
    You can also set custom prices for specific nights from your <a href="/manage-listing/5572421/calendar">calendar</a>.
  </p>





  </div>
</div>


<hr class="section-divider">

<p class="text-center text-muted hide" id="js-set-long-term-prices">
  Want to offer a discount for longer stays?
  <a href="#">You can also set weekly and monthly prices.</a>
</p>

<div id="js-advanced-pricing-content">
  <!-- Modal for advanced pricing goes here -->
</div>

<div id="js-long-term-prices" class="">
  
<div class="row js-section js-tooltip-trigger" id="js-long-term-prices">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
    <h3>Long-Term Prices</h3>

    

    <p class="text-muted">
      Set discounted prices for reservations that are 7 nights or longer.
    </p>
    

    
    
  </div>

  <div class="col-8">
    
    
  
  <div class="row-space-3">
    <div>
      <label class="label-large" for="listing_weekly_price_native">Per week</label>
      <div class="row row-table row-space-1">
        <div class="col-4 col-middle">
          <div class="input-addon">
            <span class="input-prefix">$</span>
            <%= f.text_field :listing_weekly_price_native, class: "input-stem input-large autosubmit-text" %>
          </div>
        </div>
        <div class="col-8 col-middle text-highlight">
          
        </div>
      </div>

      <p class="ml-error hide" data-error="weekly_price"></p>
      <div class="js-advanced-weekly-pricing"></div>
    </div>
  </div>
  
  <div class="row-space-3">
    <div>
      <label class="label-large" for="listing_monthly_price_native">Per month</label>
      <div class="row row-table row-space-1">
        <div class="col-4 col-middle">
          <div class="input-addon">
            <span class="input-prefix">$</span>
            <%= f.text_field :listing_monthly_price, class: "autosubmit-text input-stem input-large" %>
          </div>
        </div>
        <div class="col-8 col-middle text-highlight">
          
        </div>
      </div>

      <p class="ml-error hide" data-error="monthly_price"></p>
      <span class="js-advanced-monthly-pricing"></span>
    </div>
  </div>
  
  </div>
</div>

</div>

<hr class="section-divider post-listed">


<div class="row js-section post-listed">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
    <h3>Additional Pricing Options</h3>

    
    
    <p class="text-muted">
       
    </p>
    

    
    
  </div>

  <div class="col-8">
  
<div class="row-space-3 js-tooltip-trigger" id="js-cleaning-fee">
    
  <label class="label-large label-inline" for="listing_cleaning_fee_native_checkbox">
      <%= f.check_box   :cleaning_fee, {}, "true", "false" %>
            <%= f.label       :cleaning_fee, " Cleaning Fee " %>

  <div class="hide" data-checkbox-id="listing_cleaning_fee_native_checkbox">
    <div class="row row-table row-space-1">
      <div class="col-4 col-middle">
        <div class="input-addon">
          <span class="input-prefix">$</span>
          <input class="autosubmit-text input-stem input-large" name="listing_cleaning_fee_native" value="" data-extras="true" type="text">
        </div>
      </div>
      <div class="col-8 col-middle">
        
      </div>
    </div>
    
      <p class="text-muted">
        This fee will apply to every reservation at your listing.
      </p>
    
    <p class="ml-error" data-error="extras_price"></p>
  </div>
</div>

  
<div class="row-space-3 js-tooltip-trigger" id="js-additional-guests">
      <%= f.check_box   :addl_guest_fee, {}, "true", "false" %>
            <%= f.label       :addl_guest_fee, " Additional Guests " %>

  <div class="hide" data-checkbox-id="price_for_extra_person_checkbox">
    <div class="row row-space-1 row-condensed">
      <div class="col-4">
        <div class="input-addon">
          <span class="input-prefix">$</span>
          <input class="autosubmit-text input-stem input-large" name="listing_price_for_extra_person_native" value="0" data-extras="true" type="text">
        </div>
      </div>
      <div class="col-5 text-right">
        <label class="label-large">For each guest after</label>
      </div>
      <div class="col-3">
        <div id="guests-included-select"><div class="select
            select-large
            select-block">
  <select name="guests_included" id="select-guests_included">
    
      <option selected="selected" value="1">1</option>
    
      <option value="2">2</option>
    
      <option value="3">3</option>
    
      <option value="4">4</option>
    
      <option value="5">5</option>
    
      <option value="6">6</option>
    
      <option value="7">7</option>
    
      <option value="8">8</option>
    
      <option value="9">9</option>
    
      <option value="10">10</option>
    
      <option value="11">11</option>
    
      <option value="12">12</option>
    
      <option value="13">13</option>
    
      <option value="14">14</option>
    
      <option value="15">15</option>
    
      <option value="16">16+</option>
    
  </select>
</div>
</div>
      </div>
    </div>
    <p class="ml-error" data-error="price_for_extra_person">
      
    </p>
    <p class="text-muted">
      This fee will apply for each additional guest, for each night of the reservation.
    </p>
  </div>
</div>

  
<div class="row-space-3 js-tooltip-trigger" id="js-security-deposit">
      <%= f.check_box   :security_deposit, {}, "true", "false" %>
            <%= f.label       :security_deposit, " Security Deposit " %>

  <div class="hide" data-checkbox-id="listing_security_deposit_native_checkbox">
    <div class="row row-space-1">
      <div class="col-4">
        <div class="input-addon">
          <span class="input-prefix">$</span>
          <input class="autosubmit-text input-stem input-large" name="listing_security_deposit_native" value="" data-extras="true" type="text">
        </div>
      </div>
    </div>
    <p class="ml-error" data-error="security_deposit"></p>
    <p class="text-muted">
      Any guest who confirms a reservation at your listing will be responsible for damages up to this amount. No charges or authorizations will be made unless you make a claim within 48 hours after check out.
    </p>
  </div>
</div>

  




  </div>
</div>


<div style="display: block; top: 47.0167px; left: 650px; opacity: 1;" class="tooltip help-tooltip" data-trigger="#js-standard-price" data-event="none">
  <div class="media">
    <i class="pull-left icon icon-light-bulb icon-beach icon-size-2"></i>
    <div class="media-body text-lead text-muted help-tooltip-body">
      
  <strong>Setting a price</strong>
  <p>If you haven’t received many reviews, choose a price that’s below average for your area to help attract guests. Once your listing has received a few positive reviews, you can always raise the price.<br><br>When we suggests a nightly price, it’s based on pricing and travel trends in your area, in addition to the details of your listing.</p>
  

    </div>
  </div>
</div>


<div style="display: none; top: 355.483px; left: 650px; opacity: 1;" class="tooltip help-tooltip" data-trigger="#js-long-term-prices" data-event="none">
  <div class="media">
    <i class="pull-left icon icon-light-bulb icon-beach icon-size-2"></i>
    <div class="media-body text-lead text-muted help-tooltip-body">
      
  <strong>Discount longer trips</strong>
  <p>Encourage travelers to book longer reservations at your listing by making a stay more affordable.</p>

    </div>
  </div>
</div>


<div style="display: none;" class="tooltip help-tooltip" data-trigger="#js-cleaning-fee" data-event="none">
  <div class="media">
    <i class="pull-left icon icon-light-bulb icon-beach icon-size-2"></i>
    <div class="media-body text-lead text-muted help-tooltip-body">
      
  <p>The cleaning fee will be included in the total cost of each reservation.</p>

    </div>
  </div>
</div>


<div style="display: none;" class="tooltip help-tooltip" data-trigger="#js-weekend-pricing" data-event="none">
  <div class="media">
    <i class="pull-left icon icon-light-bulb icon-beach icon-size-2"></i>
    <div class="media-body text-lead text-muted help-tooltip-body">
      
  <p>Make extra money on weekends, or attract more requests by making weekend trips more affordable.</p>

    </div>
  </div>
</div>


<div style="display: none;" class="tooltip help-tooltip" data-trigger="#js-additional-guests" data-event="none">
  <div class="media">
    <i class="pull-left icon icon-light-bulb icon-beach icon-size-2"></i>
    <div class="media-body text-lead text-muted help-tooltip-body">
      
  <p>Set the number of guests you’d like to host before charging for additional guests.</p>

    </div>
  </div>
</div>



  <div style="display: none;" class="tooltip help-tooltip" data-trigger="#js-security-deposit" data-event="none">
  <div class="media">
    <i class="pull-left icon icon-light-bulb icon-beach icon-size-2"></i>
    <div class="media-body text-lead text-muted help-tooltip-body">
      
    <p>Guests will see the amount of your security deposit on your listing page.</p>
  
    </div>
  </div>
</div>



<div id="js-donation-tool-placeholder"></div>

      <div class="actions">
        <%= f.submit "Continue" %>
        or <%= link_to "skip this step", next_wizard_path %>
      </div>
    <% end %>
</div>

<% end %>