   <div class="container">

      <div class="row">
        <div class="col-sm-3">

<p><%= image_tag @hero_image.image_url %></p>
<hr />
<h1 id="main_info">main info</h1>
<p>Host name and icon</p>
    <h2><%= @room.title %></h2>
<p>
    <%= "#{@room.city}, #{@room.state}" %>
</p>
<p>
    <em>listing info</em><br />
    room type: <%= @room.room_style %><br />
    Accommodates: <%= @room.person_capacity %><br />
    Bedrooms: <%= @room.bedrooms %><br />
    Beds: <%= @room.beds %><br />
</p>

<hr />

 <h2>About This Listing</h2>

<p><%= @room.summary %></p>
<%= link_to "Contact Host", "/" %>

<hr />


<h2>The Space</h2>
Bed type: <%= @room.bed_style %> <br />
Property type: <%= @room.home_style %> <br />
Accommodates: <%= @room.person_capacity %> <br />
Bedrooms: <%= @room.bedrooms %> <br />
Bathrooms: <%= @room.bathrooms %> <br />
Beds: <%= @room.beds %> <br />

<hr />

<h2>Amenities</h2>

Amenites list goes here
<hr />


<h2>Prices</h2>

Extra people: No Charge <br />
Weekly Price: $@room.listing_weekly_price_native /week <br />
Cancellation: Flexible <br />
<hr />


<h3>Availability</h3>
<p>1 night minimum stay</p>
<%= link_to "View Calendar", "#" %>
<hr />

<h2>Reviews</h2>
<hr />

<h2>About the Host</h2>
<p>host logo</p>
<p>host location</p>
<p>Memeber since host.signup_date</p>
<%= link_to "Contact Host", "#" %>
<hr />

<h2>Listing Location</h2>
<%# render "map_widget_new" %>
<%= render "mapbox_widget" %>
</div>
</div>
</div>