
   <div id="room" class="container">

        <%= render :partial => 'photos', object: @room %>

        <%= render :partial => 'summary', object: @room %>
        <%= render :partial => 'details' %>


        <%= render :partial => 'reviews' %>
        <%= render :partial => 'host_profile' %>
        <%= render :partial => 'neighborhood' %>
        <%= render :partial => 'similar_listings' %>
        
    </div>
