<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
  <title>BeOurGuest</title>
<!--mapbox script and style -->
  <%= Gon::Base.render_data({}) %>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
   <!-- Bootstrap core CSS -->
   <link href="/stylesheets/bootstrap.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="/stylesheets/navbar-fixed-top.css" rel="stylesheet">


   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
   
</head>
<body>
    <%= render "/shared/default_navigation" %>
    
    <%= render 'layouts/messages' %>
    
    <%= yield %>

    <footer class="blog-footer" role="contentinfo">
        <div class="container" style="background-color: #000000; color: white;">
          <p>
            <a href="#">Back to top</a>
          </p>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/javascripts/ie10-viewport-bug-workaround.js" type="text/javascript" charset="utf-8"></script>
  <%= javascript_include_tag 'application',  params[:controller], 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    
  <%= javascript_include_tag "photos" %>
  
<!--place autocomplete  -->
    <script src="http://ubilabs.github.io/geocomplete/jquery.geocomplete.js" type="text/javascript"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    
    <script src="http://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>

                <script>
                  $(function(){
                    $("#place").geocomplete({
                      details: "form ",
                      markerOptions: {
                        draggable: true
                      }
                    });
                    $("#find").click(function(){
                      $("#place");
                    });
                  });
                </script>
    
</body>
</html>
